@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

:root {
  font-family: 'LeeSeoyun', '맑은 고딕', 'Malgun Gothic', Helvetica, AppleSDGothicNeo, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light;
  color: #333333;
  background-color: #FAFAFA;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}